.my-slide-wrap {
    position: relative;
}   
.my-slider {
    position:absolute;
}
.my-slider .arw-prev {
    position:absolute;
    bottom: 0px; 
    right: 100px;
    color: #0000;
    width: 30px;
    height: 30px;
    background: white;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
    z-index:1000;
}
.my-slider .arw-next {
    position:absolute;
    bottom: 0px;
    right: 60px;
    color: #0000;
    width: 30px;
    height: 30px;
    background: white;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
}

.slide-item {
    position: relative;
    /* height: 100vh; */
}
.slide-item img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.paging-info {
    position:absolute;
    bottom: 0px;
    right: 0px;
    color: black;
    width: 30px;
    height: 30px;
    background: white;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 40px;
}

.verticalx {
    position:absolute;
    bottom: 0px;
    right: 90px;
    color: black;
    width: 10px;
    height: 30px;
    background: white;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    /* z-index:2000; */
}

/*custom combobox*/
.custom-combobox {
    position: relative;
}

.custom-combobox select {
    display: none;
}

.select-selected {
    background-color: dodgerblue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

    /* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
/* end custom combobox*/