@media (max-width: 767px) {
	header {
		position: -webkit-sticky;
	    position: sticky;
	    top: 0;
		height: 60px;
	    z-index: 1;
	}
	.header-nav {
		position: relative;
	}
	.navbar-header {
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translate(0, -50%);
	}
	.navbar-toggle .icon-bar {
		background-color: #ffffff;
	}
	.navbar-default {
		min-height: 0;
	}



	/* home */
	.item img {
		object-fit: cover;
		/* object-position: top left; */
	}

	/* used car */
	.custom-combobox {
		text-align: center;
		padding-bottom: 15px;
	}
	.custom-combobox select {
		width: 330px;
	}

	.usecar-detail > h2 {
		font-size: 16px;
	}
	.usecar-carname {
		padding-left: 30px;
	}
	.usecar-carname h2 {
		font-size: 16px;
	}
	.usecar-carname p {
		font-size: 10px;
	}
	.usecar-carname img {
		width: 22px;
		height: 22px;
	}

}